.card-wrapper {
  border: 2px solid #000;
  float: left; /*////////////////////////////////////////////////////////*/
  height: 300px;
  width: 300px;
}

.title-wrapper {
  background-color: #07457e;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.status-wrapper {
  background-color: #ff0000;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.status-on {
  background-color: #00c500;
}

.percentage-wrapper p {
  display: flex;
  padding: 0.50rem 0.75rem;
}

.percentage-wrapper p:first-child {
  font-size: 1.3rem;
  font-weight: 700;
}

.percentage-wrapper p:nth-child(even) {
  background-color: #e2e2e2;
}

.percentage-wrapper p span {
  display: inline-block;
  text-align: right;
  width: 100%;
}
